# strings

In [1]:
a="amit"
print(a)

amit

In [2]:
a='amit'
print(a)

amit

In [4]:
a="""
this is a multiline
string 

"""
print(a)
a

this is a multiline
string

'\nthis is a multiline\nstring \n\n'

In [5]:
a='''
this is also a
multi 
line string
'''
print(a)

this is also a
multi
line string

In [6]:
ord('A')

65

In [7]:
chr(56)

'8'

# #some string operations

In [9]:
a=1
print(str(1)+"_")

1_

In [10]:
d=2
e=3
f=4
print(str(d)+"-"+str(e)+"-"+str(f))

2-3-4

In [11]:
print("%d-%d-%d"%(d,e,f))
#but it will work only if all parameters are integer type only

2-3-4

In [12]:
#Format string
a='amit'
b=2
c=4
print("{}-{}-{}".format(a,b,c))

amit-2-4

In [14]:
#ordering in format string
print("{2}-{1}-{0}".format(a,b,c))

4-2-amit

In [15]:
print("{firstname}-{lastname}".format(firstname="amit",lastname="jakhar"))

amit-jakhar

In [16]:
print("{firstname}-{rollnumber}".format(firstname="amit",rollnumber=182106))

amit-182106

In [17]:
#latest method 
first_name="amit"
last_name="jakhar"
roll_number=182106
print(f"{first_name}{last_name}-{roll_number}")

amitjakhar-182106

In [19]:
print(f"{first_name}\n{last_name}\n{roll_number}")

amit
jakhar
182106

strip function
NOTE:: it just remove starting and ending whitespace not space in between

In [23]:
a="            amit.       jakhar"
a.strip()

'amit.       jakhar'

In [25]:
print(a)
print(a.strip())

            amit.       jakhar
amit.       jakhar

In [26]:
b="        amit.      "
print(b)
print(b.strip())

        amit.
amit.

In [29]:
a=input()

1

In [30]:
type(a)

str

Split function
str.split(char)
it splits given string with respect of given char(known as delemeter)
it splits by removing all delemetres chars whether these are in repetitive mode or not ..it will work/split

In [31]:
b=input()

1 2 3 4 5 66 7

In [32]:
c=input()

1  3  4 5  6 6  7

In [35]:
d=b.split(' ')

In [36]:
type(d)

list

In [37]:
d

['1', '2', '3', '4', '5', '66', '7']

In [38]:
e=c.split()
print(e)

['1', '3', '4', '5', '6', '6', '7']

strins are immutable means we can' apply a[0]=char
but we can replace a substring with another substring

In [39]:
a="amitjakhar"
a[0]='1'

TypeError: 'str' object does not support item assignment

In [40]:
a.replace('a','m')

'mmitjmkhmr'

In [41]:
a.replace('mm','ll')

'amitjakhar'

In [43]:
a.replace('am','km')

'kmitjakhar'

In [44]:
a.count('a')

3

In [48]:
print(a.count('am'))

print(len(a))

1
10

# Lists

In [49]:
#empty list
a=list()
b=[1,"amit",2.5,print]

In [50]:
a

[]

In [51]:
b

[1, 'amit', 2.5, <function print>]

In [52]:
b[3]("amit")

amit

In [53]:
c=[print("am")]
c[0]

am

In [54]:
print(len(a),len(b),len(c))

0 4 1

In [55]:
#search in list
1 in a

False

In [56]:
'1' in a

False

In [57]:
1 in b

True

In [58]:
'1' in b

False

In [59]:
b+b

[1, 'amit', 2.5, <function print>, 1, 'amit', 2.5, <function print>]

In [60]:
b*4

[1,
 'amit',
 2.5,
 <function print>,
 1,
 'amit',
 2.5,
 <function print>,
 1,
 'amit',
 2.5,
 <function print>,
 1,
 'amit',
 2.5,
 <function print>]

In [61]:
a=[1,2,3,4,5]
b="amitjakhar"

In [62]:
c=a[2:4]#sub-list
d=b[1:5]#sub-string in these last index is exclusive

In [63]:
c

[3, 4]

In [64]:
d

'mitj'

In [66]:
type(d)

str

In [69]:
a="amit"

In [67]:
a=[1,2,3,4]

In [68]:
a[::-1]

[4, 3, 2, 1]

In [70]:
a[::-1]

'tima'

# updating the list

insert
append

In [71]:
a=[1,2,3,4,5]

In [72]:
a.insert(2,"amit")
a

[1, 2, 'amit', 3, 4, 5]

In [73]:
a.append("jakhar")
a

[1, 2, 'amit', 3, 4, 5, 'jakhar']

# deleting list elements

del
pop
remove

In [74]:
a.pop()

'jakhar'

In [75]:
a

[1, 2, 'amit', 3, 4, 5]

In [76]:
a.pop(1)

2

In [77]:
#remove operation removes first occurance of given object in argument
b=["am","am","kj","kjk"]
b

['am', 'am', 'kj', 'kjk']

In [78]:
b.remove("am")

In [79]:
b

['am', 'kj', 'kjk']

In [80]:
#del removes from memory
del b
b

NameError: name 'b' is not defined

# sort & reverse

In [85]:
a=[1,2,3,4,5]

In [83]:
b=sorted(a)#return sorted list

In [84]:
print(b)
print(type(b))

[1, 2, 3, 4, 5]
<class 'list'>

In [86]:
a.sort()#doesn't return ant list or can say void type function

In [87]:
a

[1, 2, 3, 4, 5]

In [88]:
b=[1,2,3,4,5]

In [89]:
print(reversed(b))

<list_reverseiterator object at 0x00000220872AED30>

In [90]:
c=reversed(b)
c

In [91]:
b.reverse()
b

[5, 4, 3, 2, 1]

In [92]:
c=b
c

[5, 4, 3, 2, 1]

# Tuples

In [93]:
a=(1,2,3,4)

In [94]:
a

(1, 2, 3, 4)

In [95]:
a,b,c,d=a
a
#unpacking of a tuple

1

In [116]:
#swap using tuple
a=5
b=7
b,a=(a,b)
print(a,b)

7 5

In [117]:
#if we type 1,2,3 the it is considered in tuple

In [118]:
a=1,2,3,4,5
a

(1, 2, 3, 4, 5)

In [119]:
type(a)

tuple

# list to tuple and tuple to list

In [97]:
# node:-> list() function can convert an iterablle objects into lists
a=(1,2,3,4)
a=list(a)
a

[1, 2, 3, 4]

In [98]:
a=list(range(6))

In [99]:
a

[0, 1, 2, 3, 4, 5]

In [103]:
a=list("amit")
a

['a', 'm', 'i', 't']

In [104]:
#list to tuple

In [105]:
a=tuple(a)
a

('a', 'm', 'i', 't')

In [106]:
a=[1,2,3,4,5]

In [107]:
b=tuple(a)
b

(1, 2, 3, 4, 5)

In [108]:
print(type(a),type(b))

<class 'list'> <class 'tuple'>

# Returning multiple values from the function(The returned thing is tuple)

In [111]:
def addsubstract(a,b):
    return (a+b,a-b)

In [113]:
b=addsubstract(8,3)

In [114]:
b

(11, 5)

In [115]:
sm,diff=b
print(sm,diff)

11 5