in sets there is no way of indexing value lie it was in tuple ,lists

In [1]:
#define a set
a={1,2,3,4,5}
a

{1, 2, 3, 4, 5}

In [2]:
type(a)

set

In [3]:
#but to defne a empty set we don't use a={}
b={}
c=set()
print(type(b),type(c))

<class 'dict'> <class 'set'>

In [4]:
b={5,6,7,8}

In [5]:
a.intersection(b)

{5}

In [6]:
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [7]:
a-b

{1, 2, 3, 4}

In [8]:
#we can't index a set
a[1]

TypeError: 'set' object is not subscriptable

In [9]:
# but in python we can iterate on set
for i in b:
    print(i)

8
5
6
7

In [10]:
a={1,2,3,4,5,555,9,11,8}
a

{1, 2, 3, 4, 5, 8, 9, 11, 555}

In [11]:
len(a)

9

In [12]:
# how to de-duplicate a list
a=[1,2,1,3,4,4,5]
a

[1, 2, 1, 3, 4, 4, 5]

In [13]:
set(a)

{1, 2, 3, 4, 5}

In [14]:
list(set(a))

[1, 2, 3, 4, 5]